:root{
    --colorred:  hsl(357deg 100% 53%);
    --colororange:rgb(255, 139, 15);
    --colorgreen:rgb(43, 209, 24);
    --colorblue:rgb(5, 54, 179);
}

body {
    height: 100vh;
}

.sidebar {
    height: 100vh;
}

.fa-solid {
    font-size: large;
    border-radius: 10px;
}

.active {
    background-color: var(--colorbasetext);
    color: white;
}

.list-group-item img {
    width: 30px;
    border-radius: 3px;
}

.list-group-item {
    border-top-width: 1px !important;
    border-radius: inherit;
    margin: 4px 0;
}

.list-group-item:hover{
    transform: scale(1.1);
}

.total-cases:hover{
    border: var(--colorred) solid 2px;
}
.active-cases:hover{
    border: var(--colororange) solid 2px;
}
.recovered-cases:hover{
    border: var(--colorgreen) solid 2px;
}
.death-cases:hover{
    border: var(--colorblue) solid 2px;
}

.covid-cases-list>li {
    border: 0;
    padding: 20px 20px;
    font-weight: bold;
}

.covid-cases-list span:nth-child(2n+1) {
    color: hsl(245deg 39% 31%);
}
.covid-cases-list span:nth-child(2n) {
    font-size: x-large;
}
#ListTotalCase {
    color: var(--colorred)
}
#ListActiveCase {
    color: var(--colororange)
}
#ListRecoveredCase {
    color: var(--colorgreen)
}
#ListDeathCase {
    color: var(--colorblue)
}

.table{
    color: hsl(245deg 39% 31%)
}
.container-cards{
    padding-left: 0.3em;
}   

.container-cards:hover{
    transform: scale(1.3);
}

.img-covid img{
    width: 0.7em;

}

.cards-down{
}

.images-down{
    padding: 0.5em;
    width: 40px;
    height: 40px;
}


.container-cards .col-md-4 img{
    align-content: center;
    width: 30px;
    height: 30px;
    border-radius: 25px !important;

}

.container-cards .col-md-8 h5{
    font-size: 0.7em;
    margin: 0;
}
.container-cards .card-body p{
    padding-top: 0;
    font-size: 0.7em;
}


/*.card{
    background-image: url("./images/icons/covid-red.svg");
    background-size: 6em;
    background-repeat: no-repeat;
    background-position:7.5em -1.2em;
}*/

